{% load static %}
<!DOCTYPE html>
<html>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap')
    </style>
    <link rel="stylesheet" href="{% static 'post-main.css' %}">
    <link rel="stylesheet" href="{% static 'post-list.css' %}"> <!-- Specific CSS for page -->
</html>
<body>
    <h1>Forum</h1>

    <!-- Get Post List -->
    {% if latest_post_list %}
        <ul>
            {% for post in latest_post_list %}
                <li>
                    <a href="/forum/{{ post.id }}/">
                        {{ post.post_title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            No recent posts!
        </p>
    {% endif %}
    <!-- End of Post List -->

</body>