body {
    /*? Background Setup ?*/
    background: linear-gradient(70deg, DarkSeaGreen, DarkSlateGrey);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: white;
    font-family: "Fredoka";
}

a {
    color:bisque;
}

footer {
    backdrop-filter: blur;

    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    width: 95%;
}
