{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cool Site!</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap')
        </style>
    
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h1>Cool Site!</h1>
        <ul>
            {% for item in pages %}
                <li>
                    <a href="./{{ item }}">{{ item }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>