{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Somewhere</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap')
        </style>
        <script src="https://kit.fontawesome.com/b6a2129284.js" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'somewhere/somewhere.css' %}">
    </head>
    <body>
        <h1>Where is this?</h1>
        <h3>It's somewhere</h3>
        <p>
            Sadly there is
            <a href="."><strong>nothing</strong></a>
            here
        </p>
        <p>Here is a cool image though!</p>
        <img src="{% static 'sea.jpg' %}"></img>

    </body>
</html>