{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/b6a2129284.js" crossorigin="anonymous"></script>    <title>Forum</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
    </style>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'forum/post-info.css' %}">
</head>

<body>
    <h1>{{ post.post_title }}</h1>
    <h4 id="date">{{ post.post_pub_date }}</h4>
    <p>{{ post.post_body }}</p>

    <footer>
        <a href="/">Home!</a>
        <br>
        <a href="/forum">Forum Home!</a>
    </footer>
</body>

</html>
